.navbar {
  border-bottom: 1.5px solid rgba($color: #304662, $alpha: 0.5);
  background-color: rgba($color: $dark, $alpha: 0.85);

  .mai-brand {
    color: $white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      color: $white;
    }
  }

  .navbar-nav {
    li {
      margin-left: 2rem;

      .nav-link {
        font-size: 1.25rem;
        font-weight: bold;
        &:hover {
          color: $white;
        }
      }
    }

    .active::before {
      content: url("/dist/img/svg/arrow-nav.svg");
      margin-right: 1rem;
    }
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    background-image: url("../../dist/img/svg/burger.svg");
    height: 2rem;
    width: 2rem;
  }
}

.hero__title {
  span {
    @include gradient;
  }
  font-size: 3.75rem;
  font-weight: bold;
}

.btn-main {
  width: 9rem;
  height: 2rem;
  border-radius: 4px;
  border: none;
  color: $white;
  font-weight: 700;
  font-size: 1rem;
  background-color: $primary;

  &:hover {
    background-color: $secondary;
  }

  &--md {
    @extend .btn-main;
    width: 16rem;
    height: 3.3rem;
    font-size: 1.4rem;
  }
}

.about__social-icons {
  width: 15rem;
  display: flex;
  justify-content: space-between;

  span {
    color: $white;
    font-size: 3rem;

    &:hover {
      color: $secondary;
    }
  }
}

.services__card {
  text-align: center;
  position: relative;

  .carousel-indicators {
    align-items: center;
    position: absolute;
    bottom: 10%;

    button {
      border-radius: 100%;
      width: 0.33rem;
    }

    .active {
      background-color: $primary;
      padding: 0.2rem;
    }
  }

  .carousel-area {
    background-color: beige;
    height: 46.68rem;
    max-width: 30.42rem;
    margin: 0 auto;
    // margin-top: 4rem;
    // margin-bottom: 2rem;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;

    &__rectangle {
      position: absolute;
      max-width: 30.42rem;
      bottom: 0;
      width: 100%;
      height: 5rem;
      background-color: rgba($color: black, $alpha: 0.5);
      padding: 0 1rem;
      z-index: 1;
    }

    .carousel-item {
      width: 100%;

      &__image {
        width: 100%;
        // max-width: 37.5rem;
        object-fit: cover;
        height: 46.68rem;
      }

      &__text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        position: absolute;
        bottom: 0;
        z-index: 2;

        a {
          color: $white;
          text-decoration-color: $white;

          &:hover {
            color: $secondary;
          text-decoration-color: $secondary;

          }
        }

        span {
          color: $primary;
          margin-left: .5rem;
        }
      }
    }
  }
}
