@mixin carousel-indicators {
  align-items: center;
  position: absolute;
  bottom: 10%;

  button {
    border-radius: 100%;
    width: 0.33rem;
  }

  .active {
    background-color: $primary;
    padding: 0.2rem;
  }
}

@mixin carousel-rectangle {
  position: absolute;
  max-width: 30.42rem;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: rgba($color: black, $alpha: 0.5);
  padding: 0 1rem;
}

.navbar {
  border-bottom: 1.5px solid rgba($color: #304662, $alpha: 0.5);
  background-color: rgba($color: $dark, $alpha: 0.85);

  .mai-brand {
    color: $white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      color: $white;
    }
  }

  .navbar-nav {
    li {
      margin-left: 2rem;

      .nav-link {
        font-size: 1.25rem;
        font-weight: bold;
        &:hover {
          color: $white;
        }
      }
    }

    .active::before {
      content: url("/dist/img/svg/arrow-nav.svg");
      margin-right: 1rem;
    }
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    background-image: url("../../dist/img/svg/burger.svg");
    height: 2rem;
    width: 2rem;
  }
}

.hero__title {
  @include gradient;
  font-size: 3.75rem;
  font-weight: bold;
}

.btn-main {
  width: 10rem;
  height: 2.2rem;
  border-radius: 4px;
  border: none;
  color: $white;
  font-weight: 700;
  font-size: 1rem;
  background-color: $primary;

  &:hover {
    background-color: $secondary;
  }

  &--md {
    @extend .btn-main;
    width: 16rem;
    height: 3.3rem;
    font-size: 1.4rem;
  }
}

.about__social-icons {
  width: 15rem;
  display: flex;
  justify-content: space-between;

  span {
    color: $white;
    font-size: 3rem;

    &:hover {
      color: $secondary;
    }
  }
}

.services__card {
  text-align: center;
  position: relative;

  .carousel-indicators {
    @include carousel-indicators();
  }

  .carousel-area {
    background-color: beige;
    height: 46.68rem;
    max-width: 30.42rem;
    margin: 0 auto;
    // margin-top: 4rem;
    // margin-bottom: 2rem;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;

    &__rectangle {
      @include carousel-rectangle();
      z-index: 1;
    }

    .carousel-item {
      width: 100%;

      &__image {
        width: 100%;
        // max-width: 37.5rem;
        object-fit: cover;
        height: 46.68rem;
      }

      &__text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        position: absolute;
        bottom: 0;
        z-index: 2;

        a {
          color: $white;
          text-decoration-color: $white;

          &:hover {
            color: $secondary;
            text-decoration-color: $secondary;
          }
        }

        span {
          color: $primary;
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.pricings__card {
  width: 100%;
  max-width: 38.1875rem;
  display: flex;
  flex-direction: column;

  .card__text {
    max-width: 38.1875rem;
    position: relative;

    h2 {
      color: $primary;
      font-size: 2.5rem;
      font-weight: bold;
    }

    h3 {
      color: $secondary;
      font-size: 3.125rem;
      font-weight: 700;

      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .card__image {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;

    .carousel-indicators {
      @include carousel-indicators();
    }

    .carousel-area {
      height: 100%;
      max-width: 44rem;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
      border-radius: $border-radius;

      .carousel-item {
        width: 100%;

        &__image {
          min-width: 37.5rem;
          object-fit: cover;
          max-height: 37.5rem;
          border-radius: 8px;
        }
      }

      &__rectangle {
        position: absolute;
        bottom: 0;
        width: 100%;
        // height: 3.95rem;
        background-color: rgba($color: black, $alpha: 0.5);
        padding: 0.8rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          color: $white;
          text-decoration-color: $white;

          &:hover {
            color: $secondary;
            text-decoration-color: $secondary;
          }
        }
      }
    }
  }
}

.contact__card {
  max-width: 90%;
  margin: 0 auto;
  min-height: 5rem;
  padding: 1rem 1rem 0.4rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  span {
    color: $primary;
  }
  p {
    color: $secondary;
    font-size: 1.2rem;
  }

  &--md {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 1rem 1rem 0.4rem 1rem;

    span {
      color: $primary;
    }
    p {
      color: $secondary;
      font-size: 1.2rem;
    }
  }
}

.contact__form {
  label span {
    color: $primary;
  }

  label {
    font-weight: 600;
    font-size: 1.25rem;
  }

  input,
  textarea {
    background-color: #2e2a44;
    border: none;
  }
}
