//My Theme Colors
$orange: #ff6b35;
$blue: #1993ce;
$yellow: #ffce0f;
$background: #0b0626;
$text-color: #e0e0e0;

//REESCRIBIENDO VARS DE BOOTSTRAP
$primary: $orange;
$secondary: $blue;
$warning: $yellow;
$dark: $background;
$white: $text-color;
$body-bg: $background;
$body-color: $white;
$navbar-dark-active-color: #aaa9b1;

//REESRIBIENDO VARS DEL CAROUSEL INDICATORS
$carousel-indicator-active-bg: $white;
$carousel-indicator-opacity: 0.5;
$carousel-indicator-width: 6px;
$carousel-indicator-height: 6px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer: 5px;

//RESETS
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

//GLOBAL MIXINS
@mixin gradient {
  background-image: linear-gradient(to right, $primary, $warning);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
