section {
  border-top: 1.5px solid rgba($color: #304662, $alpha: 0.5);
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
}

.hero {
  height: 100%;
  //   height: calc(100vh - 8rem);

  &__card {
    margin-top: 6rem;
    @include media-breakpoint-up(md) {
      margin-top: 4.5rem;
    }

    .hero__avatar {
      img {
        // margin-top: 2rem;
        width: 100%;
        max-width: 15rem;
      }
      p {
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
  }

  &__card--lg {
    margin-top: 35vh;
    padding: 0 2rem 0 0;
  }

  &__avatar--lg {
    text-align: center;
    margin-top: 20vh;
    img {
      // margin-top: 2rem;
      width: 100%;
      max-width: 21.5rem;
    }
    p {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  &__down-scroll {
    // position: absolute;
    // bottom: 5%;
    right: calc(50% - 8.35px);
  }
}

.services {
  height: 100%;
  @include media-breakpoint-down(lg) {
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about {

  &__top {
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
    padding-bottom: 2rem;
  }
  &__avatar {
    width: 100%;
    max-width: 8rem;
  }
  &__body {
    // @include media-breakpoint-down(md) {
    //   padding: 0 .5rem;
    // }
    span {
        color: $primary;
    }
  }
  &__footer {
      display: flex;
      justify-content: center;
  }
}

.pricings {
    height: 100%;
}

.contact {
    height: 100%;
}

.footer {
    text-align: center;
    a {
        text-decoration: none;

        &:hover {
          color: $secondary;
        }
    }
}