.hero {
  height: calc(100vh - 8rem);

  &__card {
    margin-top: 6rem;
    @include media-breakpoint-up(md) {
      margin-top: 4.5rem;
    }

    .hero__avatar {
      img {
        // margin-top: 2rem;
        width: 100%;
        max-width: 15rem;
      }
      p {
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
  }

  &__card--lg {
    margin-top: 35vh;
    padding: 0 2rem 0 0;
  }

  &__avatar--lg {
    text-align: center;
    margin-top: 20vh;
    img {
      // margin-top: 2rem;
      width: 100%;
      max-width: 21.5rem;
    }
    p {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  &__down-scroll {
    position: absolute;
    bottom: 5%;
    right: calc(50% - 8.35px);
  }
}
