.about__social-icons {
    width: 13rem;
    display: flex;
    justify-content: space-between;
  
    span {
      color: $white;
      font-size: 2.75rem;
  
      &:hover {
        color: $secondary;
      }
    }
  }