.btn-main {
  min-width: 8.5rem;
  height: 2rem;
  border-radius: 4px;
  border: none;
  background-color: $primary;
  color: white;
  font-weight: 700;

  .white-puro {

    &:hover {
    }
  }


  a {
    color: white !important;
    font-weight: 700;
    font-size: 0.9rem;
    text-decoration: none;

    &:hover {
      color: white !important; 
    }
  }

  &:hover {
    background-color: $secondary;
  }

  &--md {
    @extend .btn-main;
    width: 13rem;
    height: 2.8rem;
    font-size: 1.2rem;

    a {
    font-size: 1.2rem;

    &:hover {
      color: white;
    }
    }
  }
}
