.contact__card {
    max-width: 90%;
    margin: 0 auto;
    min-height: 5rem;
    padding: 1rem 1rem 0.4rem 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  
    span {
      color: $primary;
    }
  
    a {
      text-decoration: none;
    }
  
    p {
      color: $secondary;
      font-size: 1.2rem;
    }
  
    &--md {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      padding: 1rem 1rem 0.4rem 1rem;
  
      span {
        color: $primary;
      }
  
      a {
        text-decoration: none;
        color: $white;
      }
  
      p {
        color: $secondary;
        font-size: 1.2rem;
      }
  
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
      }
    }
  }
  